@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

.plans{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.allPlans{
    height: 100%;
    width: 100%;
    background-color: #18191a;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.cartI{
    background-color: #242526;
    height: auto;
    border: 1px solid #3f4142;
    min-height: 288px;
    width: 230px;
    margin: 1rem;
    padding-bottom: .8rem;
    transition: .22s all ease-in-out;
    border-radius: 0.6666rem;
}
.cartI:hover{
    box-shadow: 0 0 20px rgba(119, 4, 165, 0.5);
}
.containerOfAllPlans{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.activated{
    background-color: #8400ff;
}

.rowzuqefd{
    height: 50px;
    color: white;
    display: flex;
    align-items: end;
    justify-content: center;
}
.eqifcd{
    height: 66px;
    color: #ba70ff;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: "DM Serif Display", serif;
    font-weight: 600;
    justify-content: center;
}

.activated .eqifcd{
    color: white;
}

.rowGetStarted{
    height: 66px;
    color: #cacaca;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.rowGetStarted button{
    height: 35px;
    width: 140px;
    border-radius: 0.55rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #8400ff;
    color: white;
    transition: .2s all ease-in-out;
}
.rowGetStarted button:hover{
    background-color: #5f00b9;
}

.zrjoqfe{
    padding: 0 1rem;
    margin-bottom: 0.3rem;
    color: white;
    font-weight: 400;
    font-size: 14px;
}


.activatedPlan{
    background-color: #5f00b9 !important;
    color: white;
}

.purchasePlan{
    background-color: #dcb7ff;
    color: rgb(146, 4, 255);
    height: 45px;
    min-width: 200px;
    border-radius: 0.77rem;
    outline: none;
    padding: 0 1.5rem;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    transition: .2s all ease-in-out;
    cursor: pointer;
}
.containeruoqedf{
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    width: 760px;
    justify-content: space-between;
}

.containeruoqedf h1{
    color: white;
    font-weight: 500;
    font-family: "DM Serif Display", serif;
}
.containeruoqedf .purchasePlan:hover{
    background-color: #5f00b9;
    color: white;
}

.backHome{
    position: absolute;
    left: 2rem;
    top: 2rem;
    width: 140px;
    height: 34px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    border : none;
    cursor: pointer;

}
.backHome:hover{
    text-decoration: underline;
}


.pageUnsuccess{
    background-color: #18191a;
    color: gainsboro;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.pageUnsuccess span{
    color: red;
    margin-bottom: 1rem;
}
.pageUnsuccess button{    
    width: 140px;
    height: 34px;
    background-color: transparent;
    color: gainsboro;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    border : none;
    cursor: pointer;
    border-radius: 0.3rem;
    text-decoration: none;
    transition: .2s all ease-in-out;
    background-color: #242526;
}

.pageUnsuccess button:hover{
    background-color: #353639;
}
.home2{
    width: 100%;
    display: flex;
}
.Home{
    background-color: #18191a;
    padding: 0 2rem;
    height: 100vh;
}
.oqd779{
    flex-direction: column;
    height: calc(100vh - 20px);
    background-color: #242526;
    overflow: hidden !important;
}

.eqdhoqe{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #18191a;
}
.eqdhoqe span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;    
    color: white;
    font-weight: 400;
}
.eqdhoqe span span{
    margin-left: 0.4rem;
}
.zurqeuzeqfuuo{
    width: 70%;
    height: 100%;
}
.oqdconqsoc{
    width: 30%;
    height: 100%;
    padding: 1rem;
}



.containerFlexingh{
    height: 100%;
    width:  100%;
    display: flex;
    overflow: hidden;
}

.headerxjs{
    min-height:100px;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
}

.eqdhoqe .zueoqcd{
    height: 27px;
    width: 27px;
    object-fit: cover;
}

.headerxjs h1{
    font-size: 1.6rem;
    color: rgb(244, 244, 244);
    font-family: "DM Serif Display", serif;
    font-weight: 500;
    margin-bottom: 0.777rem;
    text-align: center;
}

.headerxjs span{
    font-size: 13px;
    font-weight: 500;
    background-color: rgb(156, 255, 136);
    color: rgb(33, 94, 0);
    margin-right: 1rem;
    border-radius: 4rem;
    width: 80px;
    height: 20px;
    text-align: center;
    border: 1px solid rgb(33, 94, 0);

}
.headerxjs span:last-child{
    background-color: rgb(255, 182, 134);
    margin: 0 ;
    color: rgb(138, 60, 0);
    border: 1px solid rgb(138, 60, 0);
}

.uoqefds{
    display: flex;
    align-items: center;
    justify-content: center;
}
.zuqdc{
    width: 77%;
    margin: 0 auto;
    margin-top: 2rem;
    height: auto;
}
.zuqdc input{
    height: 38px;
    margin-bottom: 1.2rem;
    width: 100% !important;
    border-radius: 0.3rem;
    border: none;
    background-color: #2e2f30;
    outline: none;
    padding: 0 1rem;
    text-align: center;
    color: white;
    border: 1px solid #505254;
}
.zuqdc input::placeholder{
    color: gainsboro;
}
.zuqdc .createnewadfg{
    color: rgb(110, 110, 110);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 2rem;
}
.zuqdc button{
    height: 38px;
    border: 1px solid #505254;
    margin-top: 1.2rem;
    width: 100% !important;
    border-radius: 0.3rem;
    border: none;
    background-color: #3d3f41;
    outline: none;
    transition: .15s all ease-in-out;
    cursor: pointer;
    text-align: center;
    color: white;
}
.zuqdc button:hover{
    background-color: #4a4c50 !important;
}
.zuqdc input:focus{
    border: 1px solid #7300ff;
}
.zuqdc button:focus{
    border: 1px solid #7300ff;
}

.bycreatingnewadsyou{
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
    font-size: 13px;
    line-height: 1.2;
    color: gray;
    font-weight: 300;
    text-align: center;
    width: 200px;
}

.upgradePlann{
    height: 38px;
    margin: 0 auto;
    margin-top: 5rem;
    width: 76%;
    border-radius: 0.3rem;
    border: none;
    background-color: #3d3f41;
    outline: none;
    transition: .15s all ease-in-out;
    cursor: pointer;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    background-color: #5f00b9;
    border: 1px solid #b05cff;

}
.upgradePlann i{
    color: white;
}
.upgradePlann:hover{
    background-color: #3e0079;
}

.noCursorallowed{
    cursor: not-allowed !important;
}
.zuqdc .noCursorallowed:hover{
    background-color: #3d3f41 !important;
}
.zuqdc .noCursorallowed:focus{
    border: none !important;
}