@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
.Auth{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #18191a;
}

.Auth .formLR{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 260px;
    overflow: hidden;
    transition: 0.33s all ease-in-out;
    width: 510px;
    margin-top:1rem;
    background-color: #18191a;
    justify-content: center;
    border-radius: 0.77rem;
}

.formLR .rowOne{
    min-height: 66px;
    display: flex;
    width: 360px;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    
}
.rowOne h1{
    text-align: center;
    font-family: "Merriweather", serif; 
    font-weight: 800;
    margin-bottom: .7rem;
    font-size: 1.3rem !important;
    color: #e4e6eb;
    transition: .3s all ease-in-out;
}
.rowOne p{
    line-height: 1.2;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    max-width: 400px;
    margin-bottom: 1rem;
}

.formLR input{
    height: 38px;
    width: 290px;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    background-color:#292a2b ;
    color: #e4e6eb;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
    text-align: left;
    border: none !important;
    font-size: 15px;
    padding-left: 1rem;
}
.formLR input::placeholder{
    color: #8f939b;
}
.formLR input:focus{
    border: 1px solid rgb(88, 90, 92);
}

.formLR{
    position: relative;
}
.rowZero{
    height: 27px;
    width: 100%;
    position: absolute;
    top: 0;
    
    background-image: url("../../Assets/mac.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; 
}
.formLR .btnSubmitAuth{
    height: 38px;
    width: 290px;
    border: 1px solid #8C52FF;
    border-radius: 0.2rem;
    outline: none;
    margin-top: .777rem;
    text-align: center;
    position: relative;
    font-weight: 500;
    font-size: 15px;
    background-color: #8C52FF;
    color: white;
    cursor: pointer;
    transition: .2s all ease-in-out;
    margin-bottom: 1.67rem;
}
.formLR .btnSubmitAuth:hover{
    background-color: #7d3efc;
    color: white;
}
.formLR .zjfd{
    font-size: 16px;
    font-weight: 400;
    cursor: default;
    color: #d6d9e0 !important;
}
.formLR .zjfd .linkSpan{
    color: #b5b8bf !important;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}
.formLR .zjfd .linkSpan:hover{
    color: #83858b !important;
}

.Auth .extendsForm {
    min-height: 300px;
}
.formLR .inputFullName{
    height: 0px;
    visibility: hidden;
    opacity: 0;
    width: 290px;
    border: 1px solid #3a3b3c;
    border-radius: 0.2rem;
    outline: none;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
    text-align: left;
    font-size: 15px;
    padding-left: 1rem;
    transition: .35s all ease-in-out;

}
.formLR .inputFullName:focus{
    border: 1px solid black;
}
.formLR .showIt{
    visibility: visible;
    opacity: 1;
    height: 38px;    
}
.formLR .noPointerEvent{
    cursor: not-allowed;
}

.formLR .noPointerEvent img{
    position: absolute;
    right: 6px;
    height: 40px;
    width: 40px;
    bottom:2.77px;
    object-fit: cover;
    border-radius: 50%;
}

.Auth .Xplorium{
    height: 45px;
    width: auto;
    object-fit: cover;
    visibility: hidden;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.Auth .showXplorium{
    opacity: 1;
    visibility: visible;
}

