@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
.Auth{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.Auth .formLR{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 260px;
    overflow: hidden;
    transition: 0.33s all ease-in-out;
    width: 420px;
    margin-top:1rem;
    backdrop-filter: blur(3px) saturate(200%);
    -webkit-backdrop-filter: blur(3px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.3);    
    justify-content: center;
    border-radius: 0.77rem;
}

.formLR .rowOne{
    min-height: 66px;
    display: flex;
    width: 360px;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    
}
.rowOne h1{
    text-align: center;
    font-family: "Merriweather", serif; 
    font-weight: 800;
    margin-bottom: .7rem;
    font-size: 1.3rem !important;
    color: #000000;
    transition: .3s all ease-in-out;
}
.rowOne p{
    line-height: 1.2;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    max-width: 400px;
    margin-bottom: 1rem;
}

.formLR input{
    height: 38px;
    width: 290px;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    background-color:#ffffff ;
    color: #000000;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
    text-align: left;
    border: none !important;
    font-size: 15px;
    font-weight: 500;
    padding-left: 1rem;
}
.formLR input::placeholder{
    color: #8f939b;
}
.formLR input:focus{
    border: 1px solid rgb(88, 90, 92);
}

.formLR{
    position: relative;
}
.rowZero{
    height: 27px;
    width: 100%;
    position: absolute;
    top: 0;
    
    background-image: url("../../Assets/mac.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; 
}
.formLR .btnSubmitAuth{
    height: 38px;
    width: 290px;
    border: 1px solid #000000;
    border-radius: 0.2rem;
    outline: none;
    margin-top: .777rem;
    text-align: center;
    position: relative;
    font-weight: 500;
    font-size: 15px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    transition: .2s all ease-in-out;
    margin-bottom:3rem;
}
.formLR .btnSubmitAuth:hover{
    background-color: #171717;
    color: white;
}
.formLR .zjfd{
    font-size: 16px;
    font-weight: 600;
    cursor: default;
    color: black !important;
}
.formLR .zjfd .linkSpan{
    color: #000000 !important;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}
.formLR .zjfd .linkSpan:hover{
    color: #000000 !important;
}

.Auth .extendsForm {
    min-height: 300px;
}
.formLR .inputFullName{
    height: 0px;
    visibility: hidden;
    opacity: 0;
    width: 290px;
    border: 1px solid #3a3b3c;
    border-radius: 0.2rem;
    outline: none;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
    text-align: left;
    font-size: 15px;
    padding-left: 1rem;
    transition: .35s all ease-in-out;

}
.formLR .inputFullName:focus{
    border: 1px solid black;
}
.formLR .showIt{
    visibility: visible;
    opacity: 1;
    height: 38px;    
}
.formLR .noPointerEvent{
    cursor: not-allowed;
}

.formLR .noPointerEvent img{
    position: absolute;
    right: 6px;
    height: 40px;
    width: 40px;
    bottom:2.77px;
    object-fit: cover;
    border-radius: 50%;
}

.Auth .Xplorium{
    height: 50px;
    width: auto;
    object-fit: cover;
    visibility: hidden;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.Auth .showXplorium{
    opacity: 1;
    visibility: visible;
}



.AccountBlocked{
    background-color: #18191a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.AccountBlocked h1{
    color: red;
    font-size: 1.2rem;
    font-weight: 500;
}
.AccountBlocked span{
    color: #8f939b;
    font-size: 14px;
    font-weight:400;
    max-width: 290px;
    line-height: 1.3;
    margin-top: 1rem;
    text-align: center;
}
.AccountBlocked span .zhiqd{
    text-decoration: underline;
    color: black;
    font-weight: 500;
    
}
.Auth .formLR .cuozrf{
    margin-top: 3rem !important;
}

.zjfdzjfd{
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-bottom: .777rem;
}

.zjfdzjfd a{
    color: rgb(98, 0, 255);
    font-weight: 700;
}



.typewriter {
    display: inline-block;
    overflow: hidden;
    border-right: 0.08em solid orange; 
  }
  
  .cursor {
    display: inline-block;
    width: 0.2em;
    height: 2rem;
    background-color: rgb(128, 0, 255);
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }



.EPIA{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.divContainer{
    width: auto;
    height: auto;
    display: flex;
}

.divContainer .textOn{
    font-size: 2rem;
    font-family: "Merriweather", serif; 
    font-weight: 700;
}

.completionButton{
    width: 290px;
    font-size: 1.5rem;
    font-family: "Merriweather", serif; 
    font-weight: 700;
    height: 60px;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: .24s all ease-in-out;
    background-color: rgb(235, 235, 235);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 3.5rem;
}
.completionButton:hover{
    background-color: rgb(215, 215, 215);

}
.completionButton i{
    position: absolute;
    right: 5.5rem;
    transition: 0.4s all ease-in-out;
}
.completionButton:hover i{
    right: 3rem;
}
