@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2b2b2b; /* color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* color of the scrollbar handle */
  border-radius: 1rem; /* radius of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scrollbar handle on hover */
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width:3px;
}

/* Height of the scrollbar */
::-webkit-scrollbar {
  height: 3px;
}

/* Width of the scrollbar track */
::-webkit-scrollbar-track {
  width: 3px;
}

/* Width of the scrollbar handle */
::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: rgb(68, 68, 68);
}

/* Width of the scrollbar corner */
 

/* Visibility of the scrollbar */
::-webkit-scrollbar {
  scrollbar-width: thin; /* thin, auto, or none */
}
