.SingleComment{
    min-height: 35px;
    width: 100%;
    padding: 0 1rem;
    margin : 1rem 0;
    display: flex;
    flex-direction: column;
}

.SingleComment img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.4rem;
}
.hiqdkc{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 0.3rem;
    font-weight: 400;
    font-size: 14px;
}
.hiqdkc span{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
}
.qodfsfdw{
    width: 90%;
    font-size: 14px;
    min-height: 30px;
    padding-left: 1rem;
    margin-left:.6rem;
    color: gainsboro;
    border-left: 1px solid #686868;
}
.qodfsfdw{
    color: rgb(171, 171, 171) !important;
}