.Discussions{
    background-color: #18191a;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    color: #e4e6eb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SideBar{
    width: 30%;
    background-color: red;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.ChatProvisoire{
    width: 70%;
    height: 100vh;
}