.chatEntered{
    background-color: transparent;
    color: white;
    width: 70%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 