.chatEntered{
    background-color: transparent;
    color: white;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
} 

.refreshPage{
    width: 100%;
    margin-top: 1rem;
    outline: none;
    border: none;
    border-radius: 0.2rem;
    height: 30px;
    cursor: pointer;
    transition: .2s all ease-in-out;
}
.refreshPage:hover{
    background-color: rgb(201, 200, 200);
}
.singleChatsingleChat{
    color: red;
}
.parti1k{
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #3f4145;
}
.casek1{
    height: 80px;
    width: 80px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.casek1 img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.case2k{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    height: 50px;
    justify-content: center;
}
.case2k span{
    display: flex;
    height: 27px;
}

.case2k span:first-child{
    color: gainsboro;
    font-weight: 600;
    font-size: 16px;
}
.case2k span:last-child{
    color: rgb(158, 158, 158);
    font-weight: 400;
    font-size: 14px;
}
.InnerChat{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.loadingxxx{
    color: aliceblue;
}

.parti2k{
    width: 100%;
    height: 100%;
    background-color: #18191a ;
    color: gainsboro;
    overflow-y: auto;
    padding: 2rem 1rem;
    scroll-behavior: smooth;
}
.parti3k{
    height: 50px;
    display: flex;
    align-items: center;
    border-top: 1px solid #3f4145;
}
.parti3k input{
    height: 100%;
    padding: 0 2rem ;
    outline: none;
    border: none;
    width: 100%;
    color: rgb(197, 197, 197);
    background-color: #18191a;
}
.parti3k input::placeholder{
    color: rgb(165, 165, 165);
    font-style: italic;
}
.parti3k button{
    height: 50px;
    width:50px;
    outline: none;
    border: none;
    transition: .13s all ease-in-out;
    background-color: #27282a;
    color: gainsboro;
    cursor: pointer;
}

.noDataYet{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6e6e6e;
    font-size: 13px;
    font-weight: 400;
}

.singleChat{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.rowMessageHis{
    height: auto;
    min-height: 40px;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: left;
}


.hisMsg{
    min-height: 40px;
    width: auto;
    padding:  0.5rem .7rem;
    padding-bottom: 1.1rem;
    background-color: #1f2021;
    min-width: 100px;
    border: 1px solid #2d2e30;
    max-width: 500px;
    position: relative;
    font-size: 15px;
    border-radius: 0.4rem;
}
.dateOfMsg{
    position: absolute;
    right: 4px;
    bottom: -1px;
    color: rgb(130, 130, 130);
    font-size: 12px;
}
.rowMessageMine{
    justify-content: right;
}