.AdminPanel{
    background-color: #18191a;
    min-height: 100vh;
    width: 100%;
    padding: 0 2rem;
    padding-bottom: 4rem;
}

.ChartJs{
    width: 100%;
    height: auto;
}

.qoesc{
    width: 100%;
    background-color: #242526;
    border-radius: 0.7rem;
    color: #e4e6eb;
    padding: 0.6rem;
}
.qoesc td{
    padding-left: 0.5rem ;
}
.qoesc th{
    text-align: left;
    padding-left: 0.5rem;
}

.fa-ckeckRed{
    color: red;
}
.fa-ckeckLimgreen{
    color: limegreen;
}
.qoesc .verified2{
    text-align: left;
}
.qoesc .verified{
    text-align: left;
}
.colorizeWhite{
    color: rgb(130, 130, 130);
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-left: .2rem;
    font-size: 1.3rem;
    font-weight: 600;
}
.qoesc .num{
    padding-left: 1.2rem;
}
.unspecified{
    color: rgb(241, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    width:100px;
    height: 22px;
    border-radius: .25rem;
}


.verifiedxxx{
    color: rgb(0, 193, 13);
    font-size: 13px;
    font-weight: 600;
    width:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
}
.qoesc td{
    margin-bottom: 0.4rem;
}

.xoui{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    width:80px;
    margin: 0 auto;
    border-radius: .25rem;
}
.active{
    background-color:rgb(25, 194, 37);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(59, 246, 65);
}
.inactive{
    color: rgb(253, 190, 0);
}
.suspended{
    background-color: rgb(80, 0, 0);
    color: white;
    border: 1px solid rgb(158, 0, 0);
}
table {
    border-collapse: collapse;
    overflow: hidden;
}

 table td, table th {
    border: 1px solid rgb(59, 59, 59);
  }
  table th{
    color :#b2b5b9;
    height: 40px;
    font-size: 15px !important;
    font-weight: 500 !important;
  }
  table td{
    height: 40px;
    font-size: 14px;
    color: #d1d4da;
  }




table .noPaddingleft{
    padding-left: 0 !important;
}

table .textAlignCenter{
}
.nodata{
    height: 100vh;
    width : 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nodata span{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.6rem;
}
.nodata img{
    height: 25px;
    width: 25px;
}

.Nodata{
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    background-color: none;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
}


table button{
    width: 120px;
    height: 31px;
    background-color: blueviolet;
    color: white;
    border-radius: 0.24rem;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 0 .5rem;
    transition: .14s all ease-in-out;
}
table button:hover{
    background-color: rgb(91, 0, 176);
}
table .zsc{
    transition: .14s all ease-in-out;
    width: 130px;
    height: 28px;
    background-color: red;
    color: white;
    border-radius: 0.24rem;
    outline: none;
    border: none;
    cursor: pointer;
}
table .zsc:hover{
    background-color: rgb(197, 0, 0);
}

table .displayFLexAlignCnete{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.PieChart{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.hiqdcs{
    height: 22px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-bottom: 0.3rem;
}
 

.userx{
    background-color: #1867c7;
    height: 22px;
    width: 22px;
}
.adserx{
    background-color: #1b9317;
    height: 22px;
    width: 22px;
}
.mod{
    background-color: #ffbb00;
    height: 20px;
    width: 20px;
    margin-left: 1.4px;
}

.hiqdcs{
    color: rgb(217, 217, 217);
    font-size: 13px;
    font-weight: 400;
}


.qoejdfs{
    margin-bottom: 1.3rem !important;
}

.chartOfRevenuesine{
    height: 300px;
    margin-left: 2rem;
    width: 900px;
    margin-right: 2rem;

    overflow: hidden;
}
.othersozqeodsc{
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.ChartJsuoaeqfs{
    display: flex;
    padding-top: 5rem;
    justify-content: space-between;
}

.quedfuuqfhdsc{
    color: red;
    background-color: transparent !important;
    border: none;
    width: auto;
    display: flex;
    justify-content: left;
}

.nodataXXX{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 13px;
    font-weight: 500;
}
.gridElement1{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.centeredJJJ{
    height: 140px;
    width: 140px;
    background-color: #242526;
    border-radius: 0.35rem;
    overflow: hidden;
}


.caseLogoS{
    height: 45px;
    display: flex;
    align-items: end;
    justify-content: center;

}

.numberDs{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    font-family: "DM Serif Display", serif;
    color: white;
}
.meaningDS{
    height: 33px;
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.Loading{
    margin-top: 5px;
    height:33px;
    width: 33px;
    object-fit: cover;
    border-radius: 50%;
}

.oqdnscoqdnsc{
    width: 300px;
    height: 300px;
}

.ocddoqvnoc{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100%;
    color: white !important;
    font-size: 15px;
}
.ocddoqvnoc img{
    margin-right: 0.4rem;
    height: 24px;
    width: 24px;
    object-fit: cover;
}

 
.qsuoe{
    position: relative;

}
.suoqrdcs{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0px;
    right: 0;
    height: 130px;
    z-index: 99;
    width: 200px;
    border-radius: 0.3rem;
    background-color: rgb(24, 23, 23);
}


.quiodcsx{
    background-color: rgb(61, 57, 57);
    color: rgb(255, 255, 255);
    margin-bottom: 0.5rem;
}
.suoqrdcs .close{
    position: absolute;
    right: 5px;
    top: 8px;
    background-color: white;
    color: black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.quiodcsx:hover{
    background-color: rgb(81, 81, 81);
}

.activated99{
    background-color: rgb(220, 151, 0);
}
.activated99:hover{
    background-color: rgb(159, 108, 0);
}
.zefyoyoqeyod{
    display: flex;
    align-items: center;
    justify-content: center;
}
.case134989453{
    height: 300px;
    width: 400px;
}
.case134989453 textarea{
    resize: none;
    height: 200px;
    width: 100%;
    border-radius: 0.4rem;
    outline: none;
    margin-top: 50px;
    background-color: #2d2e2f;
    color: white;
    font-size: 15px;
    padding: 2rem;
    border: 1px solid #292727;
}
.case134989453 button{
    height: 40px;
    width: 100%;
    border-radius: 0.4rem;
    outline: none;
    border: 1px solid #292727;
    background-color: #2d2e2f;
    color: white;
    transition: .2s all ease-in-out;
    cursor: pointer;
    font-size: 15px;
}

.case134989453 button:hover{
    background-color: #47494a;
}
