.AdminPanel{
    background-color: #18191a;
    min-height: 100vh;
    width: 100%;
    padding: 0 2rem;
    padding-bottom: 4rem;
}

.ChartJs{
    width: 100%;
    height: auto;
}

.qoesc{
    width: 100%;
    background-color: #242526;
    border-radius: 0.7rem;
    color: #e4e6eb;
    padding: 0.6rem;
}
.qoesc td{
    padding-left: 0.5rem ;
}
.qoesc th{
    text-align: left;
    padding-left: 0.5rem;
}

.fa-ckeckRed{
    color: red;
}
.fa-ckeckLimgreen{
    color: limegreen;
}
.qoesc .verified2{
    text-align: left;
}
.qoesc .verified{
    text-align: left;
}
.colorizeWhite{
    color: rgb(130, 130, 130);
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-left: .2rem;
    font-size: 1.3rem;
    font-weight: 600;
}
.qoesc .num{
    padding-left: 1.2rem;
}
.unspecified{
    background-color: rgb(48, 0, 0);
    color: rgb(255, 216, 216);
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 13px;
    font-weight: 500;
    width:100px;
    height: 27px;

    border-radius: 4rem;
    border:1px solid rgb(112, 61, 61);
}


.verifiedxxx{
    background-color: rgb(4, 64, 1);
    color: rgb(212, 255, 215);
    font-size: 13px;
    font-weight: 500;
    width:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4rem;
    border:1px solid rgb(99, 143, 98);
}
.qoesc td{
    margin-bottom: 0.4rem;
}

.xoui{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    width:80px;
    margin: 0 auto;
    border-radius: 4rem;
}
.active{
    background-color:rgb(25, 194, 37);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(59, 246, 65);
}
.inactive{
    background-color: #924a02;
    color: rgb(255, 254, 254);
    border: 1px solid #f38907;
}
.suspended{
    background-color: rgb(80, 0, 0);
    color: white;
    border: 1px solid rgb(158, 0, 0);
}
table {
    border-collapse: collapse;
    overflow: hidden;
}

 table td, table th {
    border: 1px solid rgb(59, 59, 59);
  }
  table th{
    color :#b2b5b9;
    height: 40px;
    font-size: 15px !important;
    font-weight: 500 !important;
  }
  table td{
    height: 40px;
    font-size: 14px;
    color: #d1d4da;
  }




table .noPaddingleft{
    padding-left: 0 !important;
}

table .textAlignCenter{
}
.nodata{
    height: 100vh;
    width : 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nodata span{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.6rem;
}
.nodata img{
    height: 25px;
    width: 25px;
}

.Nodata{
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    background-color: none;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
}


table button{
    width: 120px;
    height: 31px;
    background-color: blueviolet;
    color: white;
    border-radius: 0.24rem;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 0 .5rem;
    transition: .14s all ease-in-out;
}
table button:hover{
    background-color: rgb(91, 0, 176);
}
table .zsc{
    transition: .14s all ease-in-out;
    width: 130px;
    height: 28px;
    background-color: red;
    color: white;
    border-radius: 0.24rem;
    outline: none;
    border: none;
    cursor: pointer;
}
table .zsc:hover{
    background-color: rgb(197, 0, 0);
}

table .displayFLexAlignCnete{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.PieChart{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.hiqdcs{
    height: 22px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-bottom: 0.3rem;
}
 

.userx{
    background-color: #1867c7;
    height: 22px;
    width: 22px;
}
.adserx{
    background-color: #1b9317;
    height: 22px;
    width: 22px;
}
.mod{
    background-color: #ffbb00;
    height: 20px;
    width: 20px;
    margin-left: 1.4px;
}

.hiqdcs{
    color: rgb(217, 217, 217);
    font-size: 13px;
    font-weight: 400;
}


.qoejdfs{
    margin-bottom: 1.3rem !important;
}

.chartOfRevenuesine{
    background-color: red;
    height: 300px;
    margin-left: 2rem;
    width: 800px;
    margin-right: 2rem;
}
.othersozqeodsc{
    width: 400px;
    height: 300px;
    background-color: blueviolet;
}
.ChartJsuoaeqfs{
    display: flex;
    justify-content: space-between;
}