.Home{
    background-color: #18191a;
    padding: 0 2rem;
}
.home2{
    width: 100%;
    display: flex;
}
.h1{
    height: calc(100vh - 80px);
    width: 30%;
    margin-top: 0px;
    position: sticky;
    top: 80px;
}
.h2{
    width: 60%;
    min-height: calc(100vh - 80px);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}
.h3{
    height: calc(100vh - 80px);
    width: 30%;
    margin-top: 0px;
    position: sticky;
    top: 80px;
    overflow-y: scroll;
}
*{
    scroll-behavior: smooth;
}


.zsjdqoc{
    color: rgb(171, 171, 171);
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin-top: 3rem;
}

.Home .containerEditProfile2{
    width: 90% !important;
    height: 90vh !important;
    background-color: #18191a;
}