.Home{
    background-color: #18191a;
    padding: 0 2rem;
}
.home2{
    width: 100%;
    display: flex;
}
.h1{
    height: calc(100vh - 80px);
    width: 30%;
    margin-top: 0px;
    position: sticky;
    top: 80px;
}
.h2{
    width: 60%;
    min-height: calc(100vh - 80px);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}
.h3{
    height: calc(100vh - 80px);
    width: 30%;
    margin-top: 0px;
    position: sticky;
    top: 80px;
    overflow-y: scroll;
}
*{
    scroll-behavior: smooth;
}


.zsjdqoc{
    color: rgb(171, 171, 171);
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin-top: 3rem;
}

.Home .containerEditProfile2{
    width: 700px !important;
    height: 400px !important;
    background-color: #18191a;
}

.containerXZE{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
}
.jqfd{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.zjhoqdc {
    object-fit: cover !important;
    height: 280px !important;
    width: 280px  !important;
}

.titleXXXX{
    margin-bottom: 3rem;
    color: gainsboro;
    width: 270px;
    font-weight: 700;
    line-height: 1.7;
    font-size: 1.1rem;
    font-family: "Libre Caslon Text", serif;       
}

.rowConYinp{
    width: 270px;
    display: flex;
    align-items: center;
    margin-bottom: .4rem;
    justify-content: space-between;
}
.rowConYinp input{
    width: 100%;
    margin-bottom: 1.4rem;
    font-size: 15px;
    outline: none;
    height: 33px;
    border: none;
    padding: 0 0.5rem;
    border-radius: 0.3rem;
    transition: 0.2s all ease-in-out;
}

.rowConYinp button{
    margin: 0;
    width: 100%;
    color: black;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    height: 31px;
    border: none;
    border-radius: 0.3rem;
    transition: 0.2s all ease-in-out;
}
.notSubmiutibtn{
    background-color: #ffc400;
}
.rowConYinp .submitBtnbbb{
    background-color: orangered;
    color: white;
}

.closePopUpx3closePopUpx3{
    z-index: 10;
}


.suo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31px;
    background-color: #27282b;
    color: gainsboro;
    width: 130px;
    cursor: pointer;
    transition: .2s all ease-in-out;
    border-radius: 0.3rem ;
}
.suo:hover{
    background-color: #3a3c3f;

}
.yesyes, .nono{
    border: 2px solid orangered;
}
.yesyes:hover, .nono:hover{
}