.Post{
    background-color: #242526;
    width: 80%;
    min-height: 150px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    transition: 0.35s all ease-in-out;
}
.ajustPost{
    width: 100%;
}
.rowP0{
    width: 100%;
    display: flex;
    align-items: center;
}
.rowP1{
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.c1{
    display: flex;
    align-items: center;
    height: 50px;
}
.c11{
    display: flex;
    align-items: center;
    justify-content: left;
}
.c11 img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
.c12{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: .4rem;
    height: 30px;
    position: relative;
}
.c12 .sdqv{
    right:  -21px;
    top: 0px;
    position: absolute;
}
.c12 span:first-child{
    height: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #e4e6eb;
    display: flex;
    align-items: center;
}
.c12 span:last-child{
    color: #b0b3b8;
    height: 17px;
    font-size: 13px;
    font-weight: 400;
}
.c2{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e4e6eb;
    font-size: .9rem;
    border-radius: 50%;
    background-color: #3a3b3c;
    cursor: pointer;
    transition: .2s all ease-in-out;
}
.c2:hover{
    background-color: #494a4b;
}
.rowP2{
    height: auto;
    font-size: 15px;
    font-weight: 300;
    color: #e4e6eb;
    margin-top: 0.3rem;
    min-height: 50px;
    margin-bottom: 20px;
}
.rowP4{
    font-size: 13px;
    color: #b0b3b8;
    font-weight: 500;
    height: 40px;
}
.rowP3{
    height: auto;
}
.rowP3 img{
    width: 100%;
    height: auto;
    cursor: pointer;
    object-fit: cover;
    border-radius: 0.24rem;
}

.rowP5{
    justify-content: center;
    height: 50px;
    align-items: baseline;
    border-top: 1px solid #494a4b;
    padding-top: 0.5rem;
}
.rowP5 button{
    height: 33px;
    margin: 0 0.9rem;
    min-width: 35px;
    display: flex;
    background-color: transparent;
    color: #b0b3b8;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 0.24rem;
    align-items: center;
    padding: 0 0.4rem;
    justify-content: center;
    transition: .2s all ease-in-out;
}
.rowP5 button i{
    margin-left: 0.4rem;
}
.rowP5 button:hover{
    background-color: #313234;
}

.rowP5 .lsclsc:hover{
    cursor: default;
    background-color: transparent;
}
.rowP5 button .fa-heartRED{
    color: #9c33ff;
} 

.c222{
    cursor: default;
}
.c222:hover{
    background-color: #3a3b3c;
}
.rowP6{
    height: 0;
    transition: 0.34s all ease-in-out;
}
.showrowP6{
    height: 262px;
    width: 100%;
    margin-bottom: 20px;
    background-color:#28292b;
    border-radius: 0.23rem;
}
.jack{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 14px;
    font-weight: 400;
}

.rowP6{
    display: flex;
    flex-direction: column;
}
.containerOfAllComents{
    height: 212px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.containerOfAllComents::-webkit-scrollbar{
    width: 5px;
    background-color: #989b9e;
}
.containerOfAllComents::-webkit-scrollbar-track{
    width: 5px;
    background-color: #494a4b;
}
.writingcomment{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
}

.writingcomment input{
    height: 50px;
    width: calc(100% - 50px);
    outline: none;
    border: none;
    background-color: #3a3b3c;
    transition: 0.2s all ease-in-out;
    color: #c7cbcf;
    font-size: 14px;
    padding: 0 1rem;
    border-radius: 0.3rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.writingcomment input::placeholder{
    color: #c7cbcf;
}
.writingcomment button{
    height: 50px;
    width: 50px;
    outline: none;
    border: none;
    background-color: #3a3b3c;
    transition: 0.2s all ease-in-out;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: #c7cbcf;
    border-bottom-right-radius: 0.3rem;
}
.writingcomment button:hover{
    color: #9c33ff;
}
.wdc{
    font-size: 13px;
    color: gainsboro;
    text-align: center;
    width: 100%;
    margin-top: 5rem;
}


.PostSkelton{
    min-height: 160px;
    height: auto;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1.8rem;
    border-radius: 0.3rem;
    animation: skeleton-loading 0.28s linear infinite alternate;
}

.PostSkelton2{
    width: 100%;
}
.rowContent{
    width: 100%;
    padding: 0 1.5rem;
    height: 70px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}
.imgSkelton{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    animation: skeleton-loading2 0.28s linear infinite alternate;
    margin-right: 1.1rem;
}
 

.fullNameSkelton{
    width: 110px;
    height: 20px;
    border-radius: 5rem;
    animation: skeleton-loading2 0.28s linear infinite alternate;
}

.rowContent2{
    width: 100%;
    padding: 0 2rem;
    margin-top: 1rem;
    display: flex;
    margin-bottom: 1rem;
    position: relative;
    flex-direction: column !important;
}
.rowContent2 .fullNameSkelton{
    margin-bottom: 0.6rem;
}
.rowContent2 .DescriptionSkelton{
    width: 333px;
    height: 20px;
    border-radius: 5rem;
    animation: skeleton-loading2 0.28s linear infinite alternate;
}

.rowContent2 .DescriptionSkelton2{
    max-width: 500px;
    width: 90%;
    margin-bottom: 1rem;
}


@keyframes skeleton-loading {
    0% {
      background-color: hsl(0, 3%, 17%);
    }
    100% {
      background-color: hsl(0, 3%, 25%);
    }
}


@keyframes skeleton-loading2 {
    0% {
      background-color: hsl(0, 2%, 19%);
    }
    100% {
      background-color: hsl(0, 4%, 17%);
    }
}


.PostSkelton{
    width: 80% !important;
}
.PostSkelton2{
    width: 100% !important;
}

.imageClickedFixedPosition{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    z-index: 9999999999999999999999;
    height: 100vh;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s all ease-in-out;
}
.showimageClickedFixedPosition{
    opacity: 1;
    visibility: visible;
}
.imageClickedFixedPosition img{
    height: 600px;
    width: auto;
    max-width: 90%;
    object-fit: cover;
    border-radius: 0.25rem;
}