.SingleNotification{
    height: auto;
    min-height: 100px;
    border-radius: 0.3rem;
    background-color: #242526;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1.67rem;
    padding: 2rem 1rem;
}
.rowTitleNotif{
    height: auto;
    width: 95%;
    margin: 0 auto;
    color: gainsboro;
}
.contentImg{
    display: flex;
    align-items: center;
    justify-content: right;
}
.contentImg img{
    height: 29px;
    width: auto;
    object-fit: cover;
}
.rowTitleNotif2{
    font-weight: 700;
    font-size: 1.04rem;
    font-family: "Libre Caslon Text", serif;
}
.SingleNotification{
    position: relative;
}

.deleteSingleNotif{
    position: absolute;
    right: 0px;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    outline: none;
    font-size: 14px;
    border-radius: 0.23rem;
    background-color: transparent;
    color: red;
    padding-top: .14rem;
    border-radius: 50%;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: .4s all ease-in-out;
    visibility: hidden;
    opacity: 0;
}
.showdeleteSingleNotif{
    opacity: 1;
    visibility: visible;
}
.deleteSingleNotif:hover{
    background-color: red;
    color: white;
}



.SingleNotification3{
    height: auto;
    min-height: 100px;
    border-radius: 0.3rem;
    background-color: #242526;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1.67rem;
    padding: 2rem 1rem;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.rowTitleNotif{
    display: flex;
    width: 100%;
}

.content{
    width: 100%;
    color: gainsboro;
}

.content2{
    font-weight: 600;
    font-family: "Libre Caslon Text", serif;
}

.isnotseen{
    position: absolute;
    bottom: .1rem;
    right: .5rem;
    font-size: 14px;
    color: rgb(132, 132, 132);
}
.isseen{
    color: rgb(172, 83, 255);
}
.timeOuDate{
    color: gray;
    font-size: 13px;
    position: absolute;
    right: 10px;
    bottom: 1px;
}

.visitPost{
    width: 300px;
    height: 34px;
    color: white;
    background-color: #7518cb;

    font-weight: 500;
    font-size: 14px;
    width: 91%;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    border-radius: 0.24rem;
    outline: none;
    transition: 0.24s all ease-in-out;
}
.visitPost:hover{
    background-color: #952cf8;
}
.content2{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}