@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
.Page .h1{
    width: 20%;
}
.Page .h2{
    width: 80%;
    padding-left: 2.2rem;
}
.Page .rowImg878 {
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: auto;
}
.rowImg878 img{
    height: 200px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 0.2rem;
    border: 1px solid rgb(59, 56, 56);
}
.rowName878{
    width: 100%;
    height: auto;
    margin: 1rem 0;
    font-size: 1.7rem;
    font-weight: 500;
    color: gainsboro;
    display: flex;
    align-items: center;
    font-family: "DM Serif Display", serif;
}
.rowName879{
    width: 100%;
    height: auto;
    margin: 0rem 0;
    margin-bottom: 0.4rem;
    font-size: 15px;
    font-weight: 500;
    color: gainsboro;
    display: flex;
    align-items: center;
    color: #4585d8; 

}
.rowName8790{
    width: 100%;
    height: auto;
    margin: 0rem 0;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: rgb(167, 167, 167);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.7rem;
}
.rowName899{
    width: 100%;
    height: 40;
    margin:  0;
    font-size: 17px;
    font-weight: 400;
    color: gainsboro;
    display: flex;
    align-items: center;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    transition: .2s all ease-in-out;
}
.rowName899:hover{
    background-color:#242527 ;
}
.bar{
    height: 44px;
    width: 2px;
    margin-right: 1rem;
    background-color:transparent ;
}
.barActivated{
    background-color: #4585d8;

}
.rowName899activated{
    background-color:#2f3134;
}
.rowName899activated:hover{
    background-color:#27292b;
}


.coverPicture99{
    height: 200px;
    width: 100%;
}
.coverPicture99 img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: .2rem;
}
.Page .h1{
    margin-top: 5px;
}
.btnsbts{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: .5rem 0;
}
.btnsbts button{
    height: 32px;
    min-width: 90px;
    padding: 0 1rem;
    cursor: pointer;
    border: 1px solid #383a3c;
    background-color: rgb(56, 59, 62);
    color: gainsboro;
    border-radius: 0.2rem;
    outline: none;
    margin-right: .88rem;
    transition: .2s all ease-in-out;
}

.rowName899rowName899rowName899{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    cursor: default;
    color: gray;
    font-size: 14px;
}
.rowName899rowName899rowName899:hover{
    background-color: transparent;
}
.btnsbts .addColorActivatedF{
    background-color: rgb(255, 166, 0);
    color: black;
}
.btnsbts .addColorActivatedL{
    background-color: blueviolet;
    color: white;
}



.VerifiedPopUp{
    height: 100vh;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    inset:1;
    backdrop-filter: blur(4px) saturate(200%);
    -webkit-backdrop-filter: blur(4px) saturate(200%);
    background-color: rgba(8, 8, 8, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s all ease-in-out;
}
.showVerifiedPopUp{
    opacity: 1;
    visibility: visible;
    z-index: 9999999999999999999999;
}
.divX{
    height: 250px;
    width: 500px;
    visibility: hidden;
    opacity: 0;
    transition: .4s all ease-in-out;
    background-color: rgb(40, 36, 36);
    border-radius: .5rem;
    padding: 1.2rem;
}
.showdivX{
    opacity: 1;
    visibility: visible;
    z-index: 99;
}   
.row93791{
    height: auto;
    width: 100%;
    color: rgb(158, 158, 158) ;
    margin-bottom: .5rem;
    position: relative;
}

.row87824 {
    font-family: "DM Serif Display", serif;
    font-size: 1.1rem;
    color: gainsboro;
}
.row93791 img{
    height: 25px;
    width: auto;
    position: absolute;
    right: 0;
}

.allMediaOfThePage{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.allMediaOfThePage img{
    height: 250px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #27292b;
    object-fit: cover;
    border-radius: 0.3rem;
}

.rowpictureKQEDF{
    height: auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: left;
}
.rowpictureKQEDF img{
    height: 100px;
    width: 100px;
    border-radius: 0.14rem;
    object-fit: cover;
}
.ownerclicked{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
}
.infoshhh{
    display: flex;
    flex-direction: column;
    color: gainsboro;
    margin-left: 1rem;
}
.gotoprofile{
    position: absolute;
    height: 40px;
    margin-top: 1rem;
    width: 200px;
    border-radius: 0.3rem;
    background-color: blueviolet;
    color: white;
    outline: none;
    border: none;
    bottom: -50px;
    width: 330px;
    cursor: pointer;
    transition: .15s all ease-in-out;
}
.gotoprofile:hover{
    background-color: rgb(90, 4, 172);
}