.Profile .h0{
    min-height: calc(100vh - 81px);
    height: auto;
    width: 77%;
    margin-top: 0px;
    position: relative;
}
.Profile .h3{
    width: 23%;
}

.rowCover{
    width: 100%;
    height: 160px;
    border-radius: 0.2rem;
    overflow: hidden;
}
.rowCover img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.rowProfPicAndFullName{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2rem;
    position: relative;
}
.rowProfPicAndFullName img{
    height: 110px;
    width: 110px;
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #18191a;
    top: -56px;
}
.rowProfPicAndFullName h1{
    color: 	#e4e6eb;
    font-size: 1.19rem;
    position: absolute;
    left: calc(110px + 2.66rem);
    font-weight: 600;
    display: flex;
    align-items: center;
}
.rowBio{
    width: 100%;
    height: auto;
    color: white;
    font-size: 14px;
    color: #b0b3b8;
    padding-left: calc(110px + 2.66rem);
}
.rowYU{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.BIOPHOTOS{
    width: 30%;
    height: 300px;
    position: sticky;
    top: 80px;
    margin-top: 20px;
}

.OthersAndCreatePostAndPosts{
    width: 64%;
    margin-top: 20px;
    min-height: 748px;
    display: flex;
    flex-direction: column;
}
.BIO{
    height: auto;
    min-height: 100px;
    width: 100%;
    border-radius: 0.2rem;
    background-color: #242526;
    margin-bottom: 1.5rem;
    padding: .6rem;
}
.About{
    color: #e4e6eb;
    height: auto;
    width: 100%;
    padding: 0 1rem;
    font-size: 1.05rem;
    font-weight: 600;
}
.About1{
    color: #b0b3b8;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 1rem;
    line-height: 1.2;
    margin-top: 0.4rem;
}
.About2{
    display: flex;
    align-items: baseline;
    font-size: 15px;
    font-weight: 300;
    color: #b0b3b8;
    margin-bottom: 0.3rem;
}

.caseOnA1{
    width: 25px ;
}
.caseOnA2 a{
    -webkit-text-fill-color: #9a2fff;
}




.Photos{
    height: auto;
    min-height: 100px;
    cursor: pointer;
    padding: 0.7rem;
    width: 100%;
    border-radius: 0.2rem;
    background-color: #242526;
}
.navabarOfProfile{
    height: 88px;
    width: 100%;
    border-radius: 0.2rem;
    margin-bottom: 1.5rem;
    background-color: #242526;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.333rem;
}

.navabarOfProfile button{
    height: 55px;
    min-width: 77px;
    border-radius: 0.2rem;
    outline: none;
    border: none;
    transition: 0.1s all ease-in-out;
    background-color: transparent;
    color: #e4e6eb;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navabarOfProfile button:hover{
    color: #a341ff;
}

.navabarOfProfile button i{
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}
.navabarOfProfile .AddColorBlueviolet{
    color: #a341ff;
}
.navabarOfProfile .AddColorBlueviolet:hover{
    color: #7901e8;
}

.sendrequestFriendShip{
    position: absolute;
    right: 130px;
    width: auto;
    padding: 0.333rem 0.999rem;
    border-radius: 0.25rem;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    align-items: center;
    color: white;
    background-color: #9a2fff;
    transition: .2s all ease-in-out;
}
.sendrequestFriendShip:hover{
    background-color: #7903e8;
}
.messageFriendShip{
    position: absolute;
    right: 0px;
    width: auto;
    padding: 0.333rem 0.999rem;
    border-radius: 0.25rem;
    outline: none;
    font-size: 15px;
    border: none;
    display: flex;
    align-items: center;
    color: white;
    background-color: #3a3b3c;
    cursor: pointer;
    transition: .2s all ease-in-out;
}
.messageFriendShip i, .sendrequestFriendShip i{
    margin-right: 0.3rem;
}

.popUpx{
    opacity: 0;
    transition: 0.3s all ease-in-out;
    position: absolute;
    height: 80px;
    z-index: 10;
    top: -72px;
    right: 130px;
    background-color: whitesmoke;
    width: 330px;
    border: 1px solid #75777b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.showpopUpx{
    visibility: visible;
    opacity: 1;
}
.closePopUpx2{
    height: 23px;
    width: 23px;
    border-radius: 50%;
    outline: none;
    border: none;
    right: 4px;
    top: 4px;
    cursor: pointer;
    position: absolute;
    font-size: 14px;
    border: 2px solid #45484a;
    color: #45484a;
}

.popUpx .acc{
    width: 120px;
    cursor: pointer;
    margin : 0 10px;
    height: 35px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 4px;
    transition: .2s all ease-in-out;
    border-radius: 0.25rem;
    outline: none;
}
.acc1{
    border: 1px solid #9a2fff;
    background-color: #f5eaff;
    color: #9a2fff;
}
.acc2{
    border: 1px solid red;
    background-color: rgb(255, 230, 230);
    color: red;
}

.acc1:hover{
    background-color: #e3c5fe;

}

.acc2:hover{
    background-color: rgb(255, 195, 195);
}


.AboutMedia{
    height: auto;
    min-height: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0.4rem;
    border-radius: 0.3rem;
    gap: 10px;
}
.AboutMedia img{
    width: 96px;
    border: 0.2rem;
    height:85px;
    margin: 0 auto;
    object-fit: cover;
}

.onlineStatss{
    color: red;
}

.zsjdqoc{
    color: rgb(171, 171, 171);
    font-size: 13px;
    text-align: center;
    width: 100%;
    margin-top: 3rem;
}