.SingleNotification{
    height: auto;
    min-height: 100px;
    border-radius: 0.3rem;
    background-color: #242526;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1.67rem;
    padding: 2rem 1rem;
}
.rowTitleNotif{
    height: auto;
    width: 95%;
    margin: 0 auto;
    color: gainsboro;
}
.rowImgCompany{
    display: flex;
    align-items: center;
    justify-content: right;
}
.rowImgCompany img{
    height: 29px;
    width: auto;
    object-fit: cover;
}
.rowTitleNotif2{
    font-weight: 500;
    font-size: 1.04rem;
    font-family: "Libre Caslon Text", serif;
}
.SingleNotification{
    position: relative;
}

.deleteSingleNotif{
    position: absolute;
    right: 0px;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    outline: none;
    font-size: 14px;
    border-radius: 0.23rem;
    background-color: transparent;
    color: red;
    padding-top: .14rem;
    border-radius: 50%;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: .2s all ease-in-out;
}
.deleteSingleNotif:hover{
    background-color: red;
    color: white;
}
