.Navbar{
    width: 100%;
    padding: 0rem;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #18191a;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 9999;
}
.part1{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

.part1 img{
    cursor: pointer;
    height: 30px;
    width: auto;
    margin-right: 0.4rem;
    object-fit: cover;
}
.part2121{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.part2{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.part2p1{
    height: 100%;
    width: 190px;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: right;

}
.part2p2{
    height: 100%;
    width: 70px;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.part2p2 img{
    height:41px;
    width: 41px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 0.666rem;
    border: 1px solid rgb(0, 0, 0);
    user-select: none;
}

.linkNav{
    margin-left: 1rem;
    height: 38px;
    width: 38px;
    background-color: transparent;
    outline: none;
    border: none;
    color: #e4e6eb;
    font-size: 1.1rem;
    position: relative;
    cursor: pointer;
    background-color: #3a3b3c;
    border-radius: 50%;
    transition: 0.2s all ease-in-out;
}

.linkNav:hover{
    background-color: #4e5052;
}

.bulle{
    position: absolute;
    height: 21px;
    width: 21px;
    font-weight: 600;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -2px;
    right: -8px;
    border: 2px solid #282a2b;
    background-color: red;
    color: white;
    border-radius: 50%;
}

.searchUser{
    width: 80%;
    border-radius: 5rem;
    height: 39px;
    position: relative;
    overflow: hidden;
}

.searchUser input{
    width: 100%;
    outline: none;
    border: none;
    height: 100%;
    color: #babdc1;
    padding: 0 1rem;
    background-color: #353637;
    padding-right: 3.3rem;
    font-size: 15px;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
}
.searchUser input::placeholder{
    color: #b0b3b8;
}
.searchUser input:focus{
    background-color: #3a3b3d;
}
.searchUser .search{
    position: absolute;
    z-index: 9;
    right: 0px;
    top: 0;
    height: 39px;
    width: 39px;
    background-color: #242526;
    color : #babdc1;
    outline: none;
    border: none;
    cursor: pointer;
}
.part2p2{
    position: relative;
}
.popUp{
    position: absolute;
    z-index: 90;
    background-color: #3a3b3c;
    visibility: hidden;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.4s all ease-in-out;
    border: 1px solid #3a3b3c;
    bottom: -288px;
    right: 0px;
    height: 300px;
    width: 250px;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.showPopUp{
    visibility: visible;
    opacity: 1;
    bottom: -300px;
}

.rowjh{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .15s all ease-in-out;
}
.caseOne{
    height: 66px;
    width: 83px;
    display: flex;
    align-items: center;
    color: #e4e6eb;
    justify-content: center;
}
.caseOne img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 50%;
}
.caseTwo{
    height: 66px;
    font-weight: 500;
    color: #e4e6eb;
    width: calc(100% - 70px);
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 16px;
}
.rowjh:hover{
    cursor: pointer;
    background-color: #494a4b;
}
.caseOne2{
    width: 77px;
}
.caseTwo2{
    font-size: 15px;
    width: calc(100% - 77px);
}
 
.caseOne i{
    font-size: 1.1rem;
    color: #e4e6eb;
}
.part2p2 .fa-angle-up, .part2p2 .fa-angle-down{
    color: #babdc1;
}
 
